@using StationeryStore_ADTeam11.Models;
@model StationeryStore_ADTeam11.Models.Department

@{
    ViewBag.Title = "CollectionPoint";
    var collectionPoints = (List<CollectionPoint>)ViewData["collectionPoints"];
    var employees = (List<SelectListItem>)ViewData["employees"];

    var representativeName = (string)ViewData["representativeName"];
    var collectionPoint = (string)ViewData["collectionPoint"];

}

<div class="container-fluid">
    <div class="row d-flex">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    @Html.Partial("FlashMessage")
                    <h4>Collection Points</h4>
                </div>

                <div class="card-body">
                    <div class="row">
                        <Label class="col-12">Representative - @Html.Label(representativeName)</Label>
                        <Label class="col-12">Collection Point - @Html.Label(collectionPoint)</Label>
                        <form class="form col-12">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-12">
                                        <label class="from-control"><b>Collection Points</b> </label>
                                        <div class="row">
                                            <div class="col-6">
                                                @{
                                                    foreach (var cp in collectionPoints)
                                                    {
                                                        @Html.RadioButtonFor(model => model.CollectionPoinId, cp.Id) @Html.Label(cp.Name)<br>
                                                    }
                                                }
                                            </div>
                                            <div class="col-6">
                                                <label class="from-control"><b>Representative</b></label>
                                                @*@{

                foreach (var emp in employees)
                {
                    if (emp.Value == Request["employees"])
                    {
                        emp.Selected = true;
                        break;
                    }
                }
            }*@
                                                @{
                                                    var emps = new List<SelectListItem>{ new SelectListItem{ Text="Select Employee Name",
                                                              Value = "0" , Disabled = true, Selected = true}, };
                                                    foreach (var e in employees)
                                                    {
                                                        emps.Add(e);
                                                    }
                                                }
                                                @Html.DropDownListFor(model => model.RepName, emps, new { @class = "form-control" })
                                            </div>
                                        </div>
                                       

                                    </div>
                                </div>
                            </div>

                           
                             
                           

                            <div class="col-12 form-group">
                                <div class="row">
                                    <div class="col-4">
                                    </div>
                                    <div class="col-4">
                                        <input type="reset" value="Cancel" class="btn btn-danger">
                                    </div>
                                    <div class="col-4">
                                        <input type="submit" value="Update" class="btn btn-success">
                                    </div>
                                </div>
                            </div>

                        </form>
                            
                        

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>