@using StationeryStore_ADTeam11.Models
@model StationeryStore_ADTeam11.Models.Supplier

@{
    Layout = "~/Views/Shared/_storeManagerLayout.cshtml";

    ViewBag.Title = "ViewSuppliers";

    var suppliers = (List<Supplier>)ViewData["suppliers"];

}


<div class="container-fluid">
    <div class="row d-flex">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <a>
                    <h3>Supplier List <a href="@Url.Content("~/StoreManager/CreateSupplier")" class="btn btn-success btn-sm pull-right">New </a></h3>
                    </a>
                    <table class="table table-striped table-hover">
                        @{
                            foreach (var supplier in suppliers)
                            {
                                <tr>
                                    <td>
                                        <p align="left">Supplier Code</p>
                                        <p align="left">Supplier Name</p>
                                        <p align="left">GST Registration no</p>
                                        <p align="left">Contact Name</p>
                                        <p align="left">Phone No</p>
                                        <p align="left">Fax No</p>
                                        <p align="left">Address</p>
                                    </td>
                                    <td>
                                        <p align="left">: @supplier.Id</p>
                                        <p align="left">: @supplier.Name</p>
                                        <p align="left">: @supplier.GstNumber</p>
                                        <p align="left">: @supplier.ContactName</p>
                                        <p align="left">: @supplier.PhoneNo</p>
                                        <p align="left">: @supplier.Fax</p>
                                        <p align="left">: @supplier.Address</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a>
                                            @using (Html.BeginForm("EditSupplier", "StoreManager", FormMethod.Post))
                                            {
                                                @Html.HiddenFor(supp => supp.Id, new { @Value = supplier.Id })
                                                <input type="submit" value="Edit" class="btn btn-warning btn-sm">
                                            }
                                        </a>
                                        <a>
                                            @using (Html.BeginForm("DeleteSupplier", "StoreManager", FormMethod.Post))
                                            {
                                                @Html.HiddenFor(supp => supp.Id, new { @readonly = "readonly", @Value = supplier.Id })
                                                <input type="submit" value="Delete" class="btn btn-danger btn-sm">
                                            }
                                        </a>
                                    </td>
                                </tr>

                            }
                        }

                    </table>

                    <div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

