@*@model IEnumerable<StationeryStore_ADTeam11.View_Models.LowStockItemViewModel>*@
@model IEnumerable<StationeryStore_ADTeam11.View_Models.LowStockItemViewModel>


@{
    ViewBag.Title = "ViewLowStockItems";

    //List<LowStockItemViewModel> items = (List<LowStockItemViewModel>)ViewData["LowStockList"];
}

<h2>ViewLowStockItems</h2>

<div class="card">
    <div class="card-header">
        <h4>
            Re-order Stock Items
            <a href="#" class="btn btn-outline-success pull-right">Request Re-order</a>
        </h4>
    </div>
    <div class="card-body">
        <table class="table  table-hover table-striped">
            <thead>
                <tr>
                    <th>Item Number</th>
                    <th>Category</th>
                    <th>Description</th>
                    <th>Reorder Level</th>
                    <th>Quantity on hand</th>
                    <th>Reorder Qty</th>
                    <th>Suggested Reorder Qty</th>
                    <th>Unit of Measure</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var row in Model)
                {
                   
                        <tr>
                            <td>@row.ItemList.Id</td>
                            <td>@row.ItemList.CategoryName</td>
                            <td>@row.ItemList.Description</td>
                            <td>@row.ItemList.ThresholdValue</td>
                            <td>@row.Balance</td>
                            <td><input type="text" value="@row.ItemList.ReorderQty"></td>
                            <td>0</td>
                            <td>@row.ItemList.Uom</td>
                        </tr>
                }



                @*@{
                    foreach (var row in Model)
                    {
                        foreach (var item in row.ItemList)
                        {
                            <tr>
                                <td>@item.Id</td>
                                <td>@item.CategoryId</td>
                                <td>@item.Description</td>
                                <td>@item.ThresholdValue</td>
                                <td>@row.Balance</td>
                                <td><input type="text" value="@item.ReorderQty"></td>
                                <td>0</td>
                                <td>@item.Uom</td>
                            </tr>
                        }
                    }

                }*@

            </tbody>
        </table>
    </div>
</div>


