
@model IEnumerable<StationeryStore_ADTeam11.View_Models.DisbursementVM>
@using StationeryStore_ADTeam11.Models;

@{
    var c_list = (List<CollectionPoint>)ViewData["c_list"];
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_storeClerkLayout.cshtml";
}

<div class="container-fluid">
    <div class="row d-flex">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4>Disbursement List</h4>
                </div>
                <div class="card-body">
                    <div class="accordion" id="accordionExample">

                        @foreach (var col in c_list)
                        {
                        <div class="card">
                            <h4>@col.Name</h4>
                            @if (Model != null)
                            {
                                foreach (var row in Model)
                                {
                                    if (row.ItemList != null && col.Id == row.CollectionPointID)
                                    {
                                        <div class="card-header" id="headingOne">
                                            <h2 class="mb-0">
                                                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#@row.DeptId" aria-expanded="false" aria-controls="collapseOne">
                                                    @row.DeptName
                                                </button>
                                            </h2>
                                        </div>
                                        <div id="@row.DeptId" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-12">
                                                        <label class="col-6">Representative :@row.RepName</label>
                                                        <a href="@Url.Action("EditDisbursementList","StoreClerk" , new { dept_id = row.DeptId, dept_name = row.DeptName} ) " class="btn btn-warning pull-right">Edit</a>
                                                        <br />
                                                        <label class="col-6">Department : @row.DeptName</label>

                                                    </div>

                                                </div>
                                                <div class="col-12">
                                                    <table class="table table-striped table-hovered table-bordered">
                                                        <thead>
                                                            <tr>
                                                                <th>Item Name</th>
                                                                <th>Needed</th>
                                                                <th>Actual </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>

                                                            @foreach (var item in row.ItemList)
                                                            {
                                                                <tr>
                                                                    <td>@item.Description</td>
                                                                    <td>@item.NeededQty</td>
                                                                    <td>@item.ActualQty</td>
                                                                </tr>
                                                            }
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    }

                                }
                            }

                        </div>
                        <hr />
                        }
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

