@*@model IEnumerable<StationeryStore_ADTeam11.View_Models.LowStockItemViewModel>*@
@model IEnumerable<StationeryStore_ADTeam11.View_Models.LowStockItemViewModel>

@section Scripts
{
    <script src="@Url.Content("~/Scripts/store_clerk.js")">

    </script>
}


<div class="card">
    <div class="card-header">
        <h4>
            Re-order Stock Items
            <button onclick="requestReorderList()" class="btn btn-outline-success pull-right">Request Re-order</button>
        </h4>
    </div>
    <div class="card-body">
        <table class="table  table-hover table-striped display nowrap" id="low_stock">
            <thead>
                <tr>
                    <th>Item Number</th>
                    <th>Category</th>
                    <th>Description</th>
                    <th>Reorder Level</th>
                    <th>Quantity on hand</th>
                    <th>Reorder Qty</th>
                    <th>Suggested Reorder Qty</th>
                    <th>Unit of Measure</th>
                </tr>
            </thead>

            <tbody>

                @{
                    int counter = 0;
                }

                @foreach (var row in Model)
                {
                    counter += 1;
                    <tr id="ls-row-@counter">
                        <td id="ls-id-@counter">@row.ItemList.Id</td>
                        <td id="ls-cat-@counter">@row.ItemList.CategoryName</td>
                        <td id="ls-des-@counter">@row.ItemList.Description</td>
                        <td id="ls-threshold-@counter">@row.ItemList.ThresholdValue</td>
                        <td id="ls-balance-@counter">@row.Balance</td>
                        <td><input id="ls-reorder-qty-@counter" type="text" value="@row.ItemList.ReorderQty"></td>
                        <td>@row.SuggestedReorderQty</td>
                        <td>@row.ItemList.Uom</td>
                    </tr>
                }

            </tbody>
        </table>

    </div>
</div>

<script>
    $(document).ready(function () {
        $('#low_stock').DataTable({
        });
    });

</script>


