@model List<StationeryStore_ADTeam11.Models.Supplier>
@using StationeryStore_ADTeam11.Models

@{
    var suppliers = (List<Supplier>)@Model;
    //var rank = ViewData["rank"];
}

@*<div>
        <h4>Supplier</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.GstNumber)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.GstNumber)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ContactName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ContactName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PhoneNo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PhoneNo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Fax)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Fax)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Address)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Address)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>*@


@{
    if (suppliers != null)
    {
        int i = 0;
        string[] rank = new string[] {"1st Supplier", "2nd Supplier", "3rd Supplier"};
        foreach (Supplier supplier in suppliers)
        {
            
            <div class="container-fluid">
                <div class="row d-flex">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h4>
                                    @rank[i] - @supplier.Name
                                    <button class="btn btn-warning btn-sm pull-right" data-toggle="modal" data-target="#myModal\@i"> Replace</button>
                                </h4>
                            </div>
                            <div id="myModal\@i" tabindex="-1" role="dialog" class="modal fade text-left" aria-hidden="true" style="display: none;">
                                <div role="document" class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 id="exampleModalLabel" class="modal-title">Replace @rank[i]</h5>
                                            <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
                                        </div>
                                        <div class="modal-body">
                                            <form>
                                                <div class="form-group" id="SupplierDropdown">
                                                    
                                                </div>
                                                <div class="form-group">
                                                    <input type="submit" id="Replace" value="Replace" class="btn btn-success pull-right">
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12">
                                        <table class="table table-striped table-hover">
                                            <tr>
                                                <td align="left">
                                                    Supplier Code
                                                    <br>Supplier Name
                                                    <br>GST Registration No
                                                    <br>Contact Name
                                                    <br>Phone No
                                                    <br>Fax No
                                                    <br>Address
                                                </td>
                                                <td>
                                                    : @supplier.Id
                                                    <br>: @supplier.Name
                                                    <br>: @supplier.GstNumber
                                                    <br>: @supplier.ContactName
                                                    <br>: @supplier.PhoneNo
                                                    <br>: @supplier.Fax
                                                    <br>: @supplier.Address
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <br />

            i++;
        }
    }
}

<script>
    $(document).ready(function () {
        $("#Replace").click(function () {
            var Id = $("#myModal0").val();
            var DetailsDiv = document.getElementById("supplierDrop");
            var SuppList = $("#supplierDrodown");
            //var NoResultsMsg = $("#NoResultsMsg");
            //var NoData = "<div class=\"text-danger\">No Matching Item Code: " + Id + "</div>";
            SuppList.html("");
            $.ajax({
                type: "post",
                url: "@(Url.Action("ReplaceSupplierList", "StoreClerk", new { id = "----" }))/".replace("----", Id),
                type: "POST",
                cache: false,
                async: true,
                success: function (result) {
                    DetailsDiv.style.display = '';
                    SuppList.html(result);

                }
            })
        });
    });
    </script>