@{
    string username = Session["username"].ToString();
    string role = Session["role"].ToString();
}
<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="~/Statics/vendor/bootstrap/css/bootstrap.min.css">
    <link href="~/Statics/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Statics/css/fontastic.css" rel="stylesheet" />
    <link href="~/Statics/css/grasp_mobile_progress_circle-1.0.0.min.css" rel="stylesheet" />
    <link href="~/Statics/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <link href="~/Statics/css/style.default.css" rel="stylesheet" />
    <link href="~/Statics/css/fa-all.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.18/b-1.5.6/datatables.min.css" />

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.18/b-1.5.6/datatables.min.js"></script>





</head>

<body>
    <!-- Side Navbar -->
    <nav class="side-navbar">
        <div class="side-navbar-wrapper">
            <!-- Sidebar Header    -->
            <div class="sidenav-header d-flex align-items-center justify-content-center">
                <!-- User Info-->
                <div class="sidenav-header-inner text-center">
                    <h2 class="h5">@username</h2><span>Store @role</span>

                </div>
                <!-- Small Brand information, appears on minimized sidebar-->
                <div class="sidenav-header-logo">
                    <a href="clerk_index.html" class="brand-small text-center">
                        <strong>B</strong><strong class="text-success">D</strong>
                    </a>
                </div>
            </div>
            <!-- Sidebar Navigation Menus-->
            <div class="main-menu">
                <h5 class="sidenav-heading">Main</h5>
                <ul id="side-main-menu" class="side-menu list-unstyled">
                    <li><a href="@Url.Action("Index", "StoreClerk")"> <i class="icon-home"></i>Home </a></li>
                    <li><a href="@Url.Action("ApprovedRequests", "StoreClerk")"> <i class="icon-list-1"></i>Approved Requests</a></li>
                    <li><a href="@Url.Action("CreateRetrievalList","StoreClerk")"> <i class="icon-padnote"></i>Create Retrieval Form</a></li>
                    <li><a href="@Url.Action("ViewDisbursementList", "StoreClerk")"> <i class="icon-bill"></i>Disbursment List</a></li>
                    <li><a href="@Url.Action( "CreateAdjustmentVoucher", "StoreClerk")"> <i class="icon-form"></i>Adjustment Voucher</a></li>
                    <li><a href="@Url.Action("ViewLowStockItems", "StoreClerk")"> <i class="icon-page"></i>Low-stock Items</a></li>
                    <li><a href="@Url.Action( "ViewStockCard", "StoreClerk")"> <i class="icon-website"></i>Stock Card</a></li>
                    <li><a href="@Url.Action("ItemSuppliers", "StoreClerk")"> <i class="icon-user"></i>Suppliers</a></li>
                    <li><a href="@Url.Action("ViewItems", "StoreClerk")"> <i class="icon-pencil-case"></i>Items</a></li>
                    <li><a href="@Url.Action("ViewCategories", "StoreClerk")"> <i class="icon-bars"></i>Categories</a></li>
                    <li><a href="@Url.Action("PurchaseOrderHistory", "StoreClerk")"> <i class="icon-list"></i>Purchase Orders</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="page">
        <!-- navbar-->
        <header class="header">
            <nav class="navbar">
                <div class="container-fluid">
                    <div class="navbar-holder d-flex align-items-center justify-content-between">
                        <div class="navbar-header">
                            <!-- <a id="toggle-btn" href="#" class="menu-btn"><i class="icon-bars"> </i></a><a href="index.html" class="navbar-brand"> -->
                            <div class="brand-text d-none d-md-inline-block"><strong class="text-success">Stationary Store</strong></div>
                        </div>
                        <ul class="nav-menu list-unstyled d-flex flex-md-row align-items-md-center">
                            <!-- Notifications dropdown-->
                            <!-- Log out-->
                            <li class="nav-item">
                                <a href="@Url.Action("Logout", "Base")" class="nav-link logout">
                                    <span class="d-none d-sm-inline-block">Logout</span><i class="fa fa-sign-out-alt"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <section class="statistics">
            <br />
            @RenderBody()

            @*<div class="container-fluid">
                    <div class="row d-flex">
                        <div class="col-12">
                            <div class="card">
                    body here
                            </div>
                        </div>
                    </div>
                </div>*@
        </section>
    </div>
    <script src="~/Statics/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Statics/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>



   




    @RenderSection("Scripts", false)
</body>
</html>