
@{
    string rolename = Session["role"].ToString();
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_deptartmentEmployeeLayout.cshtml";
}

<section class="statistics">
    <div class="container-fluid">
        <div class="row d-flex">
            <div class="col-lg-6">
                <!-- Income-->
                <div class="card income text-center">
                    <div class="icon"><i class="icon-pencil-case"></i></div>
                    <strong class="text-success">Request Stationery</strong>
                    <p></p>
                    <hr>
                    <a href="@Url.Action("RequisitionList", "DepartmentEmployee")" class="btn btn-success btn-sm">View</a>
                </div>
            </div>
            <div class="col-lg-6">
                <!-- Income-->
                <div class="card income text-center">
                    <div class="icon"><i class="icon-user"></i></div>
                    <strong class="text-success">Delegation Status</strong>
                    <p></p>
                    <hr>
                    <a href="@Url.Action("ViewDelegationStatus", "DepartmentEmployee")" class="btn btn-success btn-sm">View</a>
                </div>
            </div>


        </div>
    </div>
    @if (Session["delegation"].ToString() == "Yes")
    {
        <br />

        <div class="container-fluid">
            <div class="row d-flex">

                <div class="col-lg-6">
                    <!-- Income-->
                    <div class="card income text-center">
                        <div class="icon"><i class="fa fa-file-alt"></i></div>
                        <strong class="text-success">Stationery Requests</strong>
                        <p></p>
                        <hr>
                        <a href="@Url.Action("ReviewStationeryRequest","DepartmentEmployee")" class="btn btn-success btn-sm">View</a>
                    </div>
                </div>
            </div>

        </div>


    }


    <br>
    @if (rolename == "Representative")
    {
        <div class="container-fluid">
            <div class="row d-flex">


                <div class="col-lg-6">
                    <!-- Income-->
                    <div class="card income text-center">
                        <div class="icon"><i class="fa fa-map-marker-alt"></i></div>
                        <strong class="text-success">Collection Points</strong>
                        <p></p>
                        <hr>
                        <a href="@Url.Action("CollectionPoint", "DepartmentRepresentative")" class="btn btn-success btn-sm">View</a>
                    </div>

                </div>
                <div class="col-lg-6">
                    <!-- Income-->
                    <div class="card income text-center">
                        <div class="icon"><i class="icon-bill"></i></div>
                        <strong class="text-success">Disbursement List</strong>
                        <p></p>
                        <hr>
                        <a href="@Url.Action("Disbursement", "DepartmentRepresentative")" class="btn btn-success btn-sm">View</a>
                    </div>
                </div>

            </div>

        </div>
    }

</section>

