@using StationeryStore_ADTeam11.View_Models

@{
    ViewBag.Title = "ReviewStationeryRequest";
    var reqlist = (List<StationeryRequest>)ViewData["reqlist"];
}


<div class="card">
    <div class="card-header d-flex align-items-center">
        
        <h4>Stationary Request List</h4>
    </div>
    <div class="card-body">
        <table class="table  table-hover table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Employee Name</th>
                    <th>Date</th>
                    <th>Total Items</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                @{
                    @:<tr>
                        {
                            foreach (var req in reqlist)
                            {
                            <tr>
                                <th scope="row">@req.RequestId</th>
                                <td>@req.EmpName</td>
                                <td>@req.Date</td>
                                <td>@req.TotalItem</td>
                                @{
                                    if (req.Status == "Pending")
                                    {
                                <td>
                                    <a href="/DepartmentEmployee/ViewPendingRequestDetails/@req.RequestId" class="btn btn-info btn-sm">@req.Status</a>
                                    @*@Html.ActionLink(req.Status, "ViewPendingRequestDetails", "DepartmentHead", new { reqid = req.RequestId }, null)*@
                                </td>
                                    }
                                    else
                                    {
                                        <td>@req.Status</td>
                                    }
                                }

                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
    </div>
</div>